.footer {
  height: 120px;
  background-color: lighten($color-dark-s, 5%);
}

.footer .container {
  height: 100%;
  justify-content: space-between;
  align-items: center;
}

.footer-link {
  color: $color-dark-3xl;
  text-decoration: none;
  transition: 0.3s;
}

.footer-link:hover {
  color: $color-active;
}

.github-wrapper {
  display: flex;
  align-items: center;
  flex-basis: 126px;
  justify-content: space-between;
}

.github {
  flex-basis: 23%;
}

.rs-school {
  display: block;
  width: 98px;
  height: 36px;
  background-repeat: no-repeat;
  background-position: 0 0;
  background-size: contain;
  filter: invert(18%) sepia(98%) saturate(134%) hue-rotate(163deg)
    brightness(97%) contrast(126%);
  transition: 0.5s;
}

.rs-school:hover {
  filter: invert(11%) sepia(5%) saturate(134%) hue-rotate(151deg)
    brightness(92%) contrast(113%);
}
