.control-panel {
  width: 100%;
}

.control-panel-wrapper {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  padding: 20px 0;
  border-radius: 5px;
  border: 1px solid $color-active;

  @media (min-width: 768px) and (max-width: 1158px) {
    justify-content: space-between;
    padding: 20px;
  }
}
