.sort-buttons-wrapper {
  display: flex;
  flex-wrap: wrap;
  flex-basis: 40%;
  outline: 2px solid $color-dark-l;
  border-radius: 20px;
  margin: 0 40px 50px;
  padding: 10px 10px;
  justify-content: space-around;
  align-items: space-evenly;

  @media (min-width: 768px) and (max-width: 1272px) {
    margin: 0 20px 20px;
  }

  @media (min-width: 768px) and (max-width: 1158px) {
    flex-basis: 100%;
    margin: 0 0 20px 0;
  }
}

.sort-button {
  width: 40%;
  margin: 10px;
}

.chosen {
  color: $color-active;
  font-weight: 700;
  font-size: 0.9rem;
}
